In [8]:
def solution(s):
    s = list(s)
    s.sort()
    s.reverse()
    return "".join(s)

input_string = "hello"
sorted_string = solution(input_string)
print(sorted_string)

ollhe

In [16]:
def solution(s):
    s = list(s)
    s.sort()
    s.reverse()
    return "".join(s)

input_string = "8579123"
sorted_string = solution(input_string)
print(sorted_string)

9875321

In [38]:
a = 10
a+5

15

In [42]:
a = 10
a + 5
a + 10
a + 20
# 맨 마지막 꺼만 결과 나옴

30

In [43]:
a = 10
print(a + 5)
print(a + 10)
a + 20

15
20

30

In [45]:
# Jupyter Notebook에서 제공하는 함수
display(a)

10

In [46]:
nums = [5,0,-7,-10]
print(sorted(nums, key=lambda x : abs(x)))

[0, 5, -7, -10]

In [57]:
def function(f):
    print("f(2,3) = {}".format(f(2,3)))

def mul(a,b):
    return a*b

function(mul)

f(2,3) = 6

In [75]:
def deco(f):
    def new_f():
        print("호출전")
        f()
        print("호출후")   
    return new_f

@deco
def hi():
    print("hi")

hi()

호출전
hi
hi
호출후

In [84]:
def func_with_print(f):
    def new_func(x):
        y = f(x)
        print(y)
        return y
    return new_func

@func_with_print
def double(x):
    return 2*x
print(double(5))

10
10

In [110]:
class Korean:
    country = "Korea"
    def set_name(self, name):
        self.name = name

k1 = Korean()
k1.set_name("Kim")
k2 = Korean()
k2.set_name("Lee")

print(k1.name, k2.name)
print(k1.country, k2.country)
Korean.country = "South Korea"
print(k1.country, k2.country)

Kim Lee
Korea Korea
South Korea South Korea

In [113]:
class Korean:
    country = "Korea"
    def set_country(self, c):
        self.country = c

k = Korean()
print(1, k.country)
k.set_country("South Korea")
print(2, k.country)
print(3, Korean.country)
Korean.country = "America"
k1 = Korean()
print(4, k1.country)
k1.set_country("New York")
print(5, k1.country)
print(6, Korean.country)

1 Korea
2 South Korea
3 Korea
4 America
5 New York
6 America